{% extends 'base.html' %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% load customTag %}


{%block pagecontent %}
<div class="container">
<div class = "row">
	<h1> Find Housing in {{university.universityTown}} </h1>
	<!-- <P> sorting options here </P> -->
	</div>
</div>
	<div class = "container">
<!-- <form action="/{{university_tag}}/" method="post" style = "display:inline;float:right;">
    {% csrf_token %}
    {{ form.as_p }}
</form> -->
</div>
<div class = "row">
	<ul>
{% if property_list %}
    {% for property in property_list %}
    <li>
    <div class = "container">
    <tr>
    <img src="{{thumbnail_dict|get_item:property.id}}"  style="width:150px;height:100px;display:inline;float:left;padding-right:10px">
    <div class = "infoTable" style="display:block;">
    <table>
    <tbody>	
	  <tr class = "row-title">	    
      <h3 class="card-title"><a href="/{{university_tag}}/{{property.id}}">{{ titles_dictionary|get_item:property.id}}</a></h3>
      </tr>
      <tr>
      <td class = "entry-table">
      <div> People: {{property.propertyNumPersons}} </div>
      </td>
      <td class = "entry-table">
      <div> Property Rating: {{ ratings_dictionary|get_item:property.id}} </div>
      </td>
      </tr>
      <tr>
      <td class = "entry-table">
      <div> Rooms: {{property.propertyNumRooms}} </div>
      </td>
      <td class = "entry-table">
      <div>Landlord Rating : {{ landlord_ratings_dictionary|get_item:property.id}}</div>
      </td>
      </tr>
     </tbody>
     </table>
    </div>
    </div>
  	</li>
    {% endfor %}
    </ul
{% else %}
    <p>No properties are available.</p>
{% endif %}
</div>
<div class = "container">
<div class="pagination">
    <span class="step-links">
        {% if properties.has_previous %}
            <a href="?page={{ properties.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ properties.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{%endblock%}

