li a {

}

body {
}

.card-block {
    padding-top: .5rem;
    padding-right: 1.25rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
}


.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.backgroundthis{
}


.stylescss{
	whyarent: yousdfj;
}

.jumbotron{
	background-color: #e3f2fd;
}

.btn-default {
	background-color: #e3f2fd;
}

a {
	color: inherit;
}
